<!doctype html>
<head>
    <title>Hello Azure - Python Quickstart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/azure-icon.svg') }}" alt="Azure Logo" width="96" height="96"/>
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="display-6 fw-bold text-primary">TEST OCR</h1>            
        </div>
        <div>
          <div class="grid grid-cols-3 m-6 p-6">
            <div class="m-6 p-6">
              <span class="text-lg">UPLOAD IMAGE</span>
              <form>
                <input type="url">
                <button type="submit">Submit</button>
              </form>
            </div>
            <div class="m-6 p-6">
              <h1 class="text-lg semibold">Response from OCR</h1>
              <span>Caption:</span>
              <p>{{ context.caption.text }}</p>
              <span>Caption:</span>
              <p>{{ context.caption.confidence }}</p>
            </div>
            <div class="m-6 p-6">
              3
            </div>
          </div>
          <div class="grid grid-cols-2 gap-4 m-6 p-6">
            <div class="border-4 rounded-md">
              <div class="p-3">
              {% for line in context.read.blocks[0].lines %}
                <span>Line: </span><span>{{ line.text }}</span><br>
                <span>Bounding box: </span><span>{{ line.bounding_polygon }}</span><br>
                {% for word in line.words %}
                  <span>Word: </span><span>{{ word.text }}</span><br>
                  <span>Bounding polygon: </span><span>{{ word.bounding_polygon }}</span><br>
                  <span>Confidence: </span><span>{{ word.confidence }}</span><br>
                {% endfor %}
                <span>----------------------------------</span><br>
              {% endfor %}
              </div>
            </div>
            <div class="border-4 rounded-md">22222
            </div>
          </div>
        </div>
     </main>      
   </body>
</html>