<!doctype html>
<head>
    <title>Hello Azure - Python Quickstart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/azure-icon.svg') }}" alt="Azure Logo" width="96" height="96"/>
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="display-6 fw-bold text-primary">TEST OCR</h1>            
        </div>
        <div>
          <div class="grid grid-cols-4 m-6 p-6">
            <div class="m-6 p-6">
              <span class="text-lg">IMAGE URL</span>
              <form method="post">
                <input type="url" name="url" class="border-2 rounded-md"> 
                <input type="submit" value="Submit"> 
              </form> 
            </div>
            {% if context %}
            <div class="m-6 p-6">
              <h1 class="text-lg semibold">Response from OCR</h1>
              <span>Caption:</span>
              <p>{{ context.caption.text }}</p>
              <span>Caption confidence:</span>
              <p>{{ context.caption.confidence }}</p>
              <span>Serial number:</span>
              <p>{{ context.serial }}</p>
            </div>
            <div class="m-6 p-6">
              3333
            </div>
          </div>
          <div class="grid grid-cols-2 gap-4 m-6 p-6">
            <div class="border-4 rounded-md">
              <div class="p-3">
              {% for line in context.read.blocks[0].lines %}
                <span>Line: </span><span>{{ line.text }}</span><br>
                <span>----------------------------------</span><br>
              {% endfor %}
              </div>
            </div>
            <div class="border-4 rounded-md">
              <img src="{{ context.url }}" alt="Input image" referrerpolicy="no-referrer">
            </div>
            {% endif %}
          </div>
        </div>
     </main>      
   </body>
</html>